Repository acm-uic/registrum: changes, and which Codecov flags are due for each by the changed paths.
All: api, banner, banner-data, common

simplify docker workflow
  .github/workflows/docker-cd-branch.yml
  .github/workflows/docker-cd-release.yml
  .github/workflows/docker.yml
  Base.Dockerfile
  Dockerfile
  build_images.ps1
Due: none

temp
  .github/workflows/docker.yml
  docker/api.Dockerfile
  docker/banner-data.Dockerfile
  docker/banner.Dockerfile
  docker/client.Dockerfile
Due: none

separate project dockerfiles
  .github/workflows/docker.yml
  docker/api.Dockerfile
  docker/banner-data.Dockerfile
  docker/banner.Dockerfile
  docker/client.Dockerfile
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
Due: none

add handy tmux script
  scripts/tmux.sh
Due: none

rush,eslint,prettier config update
  .eslintignore
  .eslintrc
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  common/autoinstallers/rush-prettier/.npmrc
  common/autoinstallers/rush-prettier/package.json
  common/autoinstallers/rush-prettier/pnpm-lock.yaml
  common/config/rush/command-line.json
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  common/git-hooks/commit-msg.sample
  common/git-hooks/pre-commit
  common/scripts/install-run-rush.js
  common/scripts/install-run.js
  projects/api/.eslintrc
  projects/api/package.json
  projects/banner-data/package.json
  projects/banner/.eslintignore
  projects/banner/.eslintrc
  projects/banner/.prettierrc
  projects/banner/package.json
  projects/client/.eslintignore
  projects/client/.eslintrc
  projects/client/.prettierrc
  projects/client/package.json
  projects/common/.eslintignore
  projects/common/.eslintrc
  projects/common/.prettierrc
  projects/common/package.json
  projects/common/rollup.config.js
  rush.json
Due: api, banner, banner-data, common

rush, docker config update
  .github/workflows/docker.yml
  docker/api.Dockerfile
  docker/build_images.ps1
Due: none

remove --no-bail from lerna scripts
  package.json
Due: none

🚛 chore/Updated/Refactor/Restructured Auth Code
  projects/api/src/App.ts
  projects/api/src/controllers/AuthController/Routes/Auth.ts
  projects/api/src/controllers/AuthController/Routes/User.ts
  projects/api/src/controllers/AuthController/index.ts
  projects/client/src/redux/auth/thunk.ts
Due: api

🛠 fix/Fix Auth Tests for new routes
  projects/api/src/tests/auth.test.ts
Due: api

🔥 chore/Delete Controller.ts and change dependency to registrum-common
  projects/api/src/controllers/BannerController.ts
  projects/api/src/controllers/ClassesController.ts
  projects/api/src/controllers/Controller.ts
  projects/api/src/controllers/PushServiceController.ts
Due: api

✨ feat/Added Device Controllers / Restructure code
  projects/api/src/controllers/AuthController/Routes/Auth.ts
  projects/api/src/controllers/AuthController/Routes/Device.ts
  projects/api/src/controllers/AuthController/Routes/User.ts
  projects/api/src/controllers/AuthController/Routes/index.ts
  projects/api/src/controllers/AuthController/index.ts
Due: api

🚛 chore/Restructure passport setup
  projects/api/src/App.ts
  projects/api/src/util/passport.ts
Due: api

🐛 fix/Fix API Auth controller / passport
  projects/api/src/controllers/AuthController/Routes/Auth.ts
  projects/api/src/controllers/AuthController/Routes/User.ts
  projects/api/src/controllers/AuthController/index.ts
Due: api

🚛 chore/Redo the import to be more concise
  projects/api/src/controllers/AuthController/Routes/index.ts
  projects/api/src/controllers/AuthController/index.ts
Due: api

🐛 fix/Fix tests and bugs (GET /auth/user route)
  projects/api/src/controllers/AuthController/Routes/User.ts
  projects/api/src/tests/auth.test.ts
  projects/api/src/tests/banner.test.ts
  projects/api/src/tests/class.test.ts
Due: api

🚛 chore/Reorganized Code
  projects/api/src/App.ts
  projects/api/src/controllers/AuthController/index.ts
  projects/api/src/controllers/index.ts
Due: api

⬆️ chore/Updated dependencies (mongoose and bcrypt)
  common/config/rush/pnpm-lock.yaml
  projects/api/package.json
  projects/banner-data/package.json
  projects/banner/package.json
  projects/common/package.json
Due: api, banner, banner-data, common

✨ feat/Change Subscription into Course reference
  projects/api/src/models/Course.ts
  projects/api/src/models/User.ts
Due: api

🐛 fix/Update Auth Controller parameters
  projects/api/src/App.ts
Due: api

✨ feat/Added course routes
  projects/api/src/controllers/AuthController/Routes/Course.ts
  projects/api/src/controllers/AuthController/Routes/index.ts
  projects/api/src/controllers/AuthController/index.ts
Due: api

✨ feat/Updated Devices Routes
  projects/api/src/controllers/AuthController/Routes/Device.ts
Due: api

🔥 chore/Remove extraneous files
  projects/api/src/models/interfaces/Class.ts
  projects/api/src/models/interfaces/Status.ts
  projects/api/src/tests/banner.test.ts
Due: api

🔥 remove/Delete test to be rewritten
  projects/api/src/tests/auth.test.ts
  projects/api/src/tests/banner.test.ts
  projects/api/src/tests/class.test.ts
  projects/api/src/tests/mockbanner.ts
Due: api

✨ feat/Add Banner Models
  projects/api/src/models/Course.ts
  projects/api/src/models/Subject.ts
  projects/api/src/models/Term.ts
  projects/api/src/models/User.ts
Due: api

✨ feat/Added term/course routes
  projects/api/src/controllers/BannerController/Routes/Subject.ts
  projects/api/src/controllers/BannerController/Routes/Term.ts
  projects/api/src/controllers/BannerController/Routes/index.ts
  projects/api/src/controllers/BannerController/index.ts
Due: api

✨ feat/Added npm clean and make sure to always do clean builds
  projects/api/package.json
Due: api

✨ feat/Automatic populate on find/findOne
  projects/api/src/controllers/AuthController/Routes/Auth.ts
  projects/api/src/models/User.ts
Due: api

🐛 fix/Base64 Padding Less Conversion
  projects/client/src/helpers/functions.ts
  projects/client/src/index.tsx
Due: none

🔧 feature/Add redux development tools tracing
  projects/client/src/redux/store/index.ts
Due: none

🔥 fix/Remove Redundant Call
  projects/client/src/app/App.tsx
Due: none

✨ feat/Added Loading State
  projects/client/src/redux/auth/actions.ts
  projects/client/src/redux/auth/reducer.ts
  projects/client/src/redux/auth/thunk.ts
  projects/client/src/redux/auth/types.ts
Due: none

add codeql action
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql.yml
Due: none

Client loading (#116)
  projects/client/src/app/App.tsx
  projects/client/src/helpers/functions.ts
  projects/client/src/index.tsx
  projects/client/src/redux/auth/actions.ts
  projects/client/src/redux/auth/reducer.ts
  projects/client/src/redux/auth/thunk.ts
  projects/client/src/redux/auth/types.ts
  projects/client/src/redux/store/index.ts
Due: none

add codeql action (#118)
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql.yml
Due: none

add prettier config
  .prettierignore
  .prettierrc
Due: none

add rush scripts to prettierignore
  .prettierignore
  common/scripts/install-run-rush.js
  common/scripts/install-run-rushx.js
  common/scripts/install-run.js
Due: none

Path conditions:
  api: any of: projects/api/
  banner: any of: projects/banner/
  banner-data: any of: projects/banner-data/
  common: any of: projects/common/
