Repository acm-uic/registrum: changes, and which Codecov flags are due for each by the changed paths.
All: api, banner, banner-data, common

Delete banner-data-service.yml
  k8s/banner-data-service.yml
Due: none

☸️ k8s update (#137)
  docker/client.Dockerfile
  docker/docker-compose.prod.yml
  docker/nginx.conf
  k8s/RegistrumApi.yaml
  k8s/RegistrumBanner.yaml
  k8s/RegistrumBannerData.yaml
  k8s/RegistrumClient.yaml
  k8s/Secrets.Example.yaml
  k8s/api-deployment.yaml
  k8s/api-service.yml
  k8s/banner-data-deployment.yml
  k8s/banner-deployment.yml
  k8s/banner-service.yml
  k8s/client-deployment.yaml
  k8s/client-service.yml
  k8s/ingress-service.yml
  k8s/kustomization.yaml
Due: none

Update README.md
  README.md
Due: none

add github actions updates to dependabot config
  .github/dependabot.yml
Due: none

Create auto-approve.yml
  .github/workflows/auto-approve.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update and rename auto-approve.yml to auto-merge-dependabot.yml
  .github/workflows/auto-approve.yml
  .github/workflows/auto-merge-dependabot.yml
Due: none

Update auto-merge-dependabot.yml
  .github/workflows/auto-merge-dependabot.yml
Due: none

Delete auto-merge-dependabot.yml
  .github/workflows/auto-merge-dependabot.yml
Due: none

Create automerge.yml
  .github/workflows/automerge.yml
Due: none

Update automerge.yml
  .github/workflows/automerge.yml
Due: none

update automerge
  .github/workflows/automerge.yml
  .github/workflows/ci.yml
Due: none

✨ feat/Added error state
  projects/client/src/redux/auth/actions.ts
  projects/client/src/redux/auth/reducer.ts
  projects/client/src/redux/auth/thunk.ts
  projects/client/src/redux/auth/types.ts
Due: none

add error display on client
  projects/client/src/redux/auth/thunk.ts
  projects/client/src/views/SignInForm.tsx
  projects/client/src/views/SignUpForm.tsx
Due: none

:ambulance: banner course update hotfix
  projects/banner-data/src/BannerData.ts
  projects/banner-data/src/index.ts
  projects/banner/src/controllers/HookController.ts
Due: banner, banner-data

client dockerfile hotfix
  docker/client.Dockerfile
Due: none

another client dockerfile hotfix
  docker/client.Dockerfile
Due: none

update deployment config
  docker/docker-compose.prod.yml
  docker/nginx.conf
Due: none

Client error state (#185)
  projects/client/src/redux/auth/actions.ts
  projects/client/src/redux/auth/reducer.ts
  projects/client/src/redux/auth/thunk.ts
  projects/client/src/redux/auth/types.ts
  projects/client/src/views/SignInForm.tsx
  projects/client/src/views/SignUpForm.tsx
Due: none

client fix
  .vscode/settings.json
  projects/client/.eslintrc
  projects/client/src/features/courses/AddCourse.tsx
  projects/client/src/features/courses/CourseList.tsx
Due: none

api fix
  projects/api/src/controllers/BannerController.ts
  projects/api/src/util/notifier.ts
Due: api

cleanup
  projects/api/src/models/interfaces/Class.ts
  projects/api/src/tests/banner.test.ts
  projects/common/src/schemas/Hook.ts
Due: api, common

fix test
  projects/api/src/tests/banner.test.ts
Due: api

🚨 banner cross-list fix (#187)
  .vscode/settings.json
  projects/api/src/controllers/BannerController.ts
  projects/api/src/models/interfaces/Class.ts
  projects/api/src/tests/banner.test.ts
  projects/api/src/util/notifier.ts
  projects/client/.eslintrc
  projects/client/src/features/courses/AddCourse.tsx
  projects/client/src/features/courses/CourseList.tsx
  projects/common/src/schemas/Hook.ts
Due: api, common

:green_heart: Fix builds + bump deps
  projects/api/package.json
  projects/banner-data/package.json
  projects/banner-data/src/index.ts
  projects/banner/package.json
  projects/client/package.json
  projects/common/.eslintrc
  projects/common/.prettierrc
  projects/common/jest.config.js
  projects/common/package.json
  projects/common/src/classes/Controller.ts
  projects/common/src/classes/ExpressApp.ts
  projects/common/src/lib/Banner.ts
  projects/common/src/schemas/Banner.ts
  projects/common/src/schemas/Hook.ts
  projects/common/src/tests/Banner.test.ts
  projects/common/src/types/Hook.ts
  projects/common/tsconfig.json
  yarn.lock
Due: api, banner, banner-data, common

:bug: add dom to tsconfigs.
  projects/api/tsconfig.json
  projects/banner-data/tsconfig.json
  projects/banner/tsconfig.json
  projects/client/tsconfig.json
  projects/common/tsconfig.json
Due: api, banner, banner-data, common

:pencil: added getting started instructions
  README.md
Due: none

:pencil: added getting started instructions (#205)
  README.md
Due: none

Add files via upload
  projects/client/src/images/Screenshot 2020-09-24 at 5.01.25 PM.png
  projects/client/src/images/Screenshot 2020-09-24 at 5.01.37 PM.png
  projects/client/src/images/Screenshot 2020-09-24 at 5.02.50 PM.png
  projects/client/src/images/Screenshot 2020-09-24 at 5.03.27 PM.png
  projects/client/src/images/Screenshot 2020-09-24 at 5.03.58 PM.png
Due: none

fix mongoose connection close in banner-data
  projects/banner-data/src/index.ts
Due: banner-data

update .env for api and client
  projects/api/.env.example
  projects/client/.env.example
Due: api

Path conditions:
  api: any of: projects/api/
  banner: any of: projects/banner/
  banner-data: any of: projects/banner-data/
  common: any of: projects/common/
