Repository acm-uic/registrum: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, banner, banner-data

updated term,subject,crn routes
  banner/src/app.ts
  banner/src/controllers/BannerController.ts
  banner/src/controllers/HookController.ts
  banner/src/index.ts
  banner/src/interfaces/Controller.ts
  banner/src/interfaces/Schemas.ts
  docker-compose.yml
Due: banner

import banner package, remove dups, db config updates
  banner-data/src/BannerData.ts
  banner-data/src/index.ts
  banner-data/tsconfig.json
  banner/src/controllers/BannerController.ts
  banner/src/controllers/HookController.ts
  banner/tsconfig.json
  common/config/rush/shrinkwrap.yaml
  docker-compose.yml
  mongodb/mongod.conf
Due: banner, banner-data

added courses route
  banner/src/controllers/BannerController.ts
Due: banner

shrinkwrap update
  common/config/rush/shrinkwrap.yaml
Due: none

update pnpm, sort package-json, update ci cache, cleanup
  .github/workflows/nodejs.yml
  api/package.json
  api/src/app.ts
  banner-data/package.json
  banner-data/src/BannerData.ts
  banner/package.json
  banner/src/index.ts
  common/config/rush/pnpm-lock.yaml
  docker-compose.yml
  init.sh
  rush.json
Due: api, banner, banner-data

update docs & .env.example files
  README.md
  api/.env.example
  banner-data/.env.example
  client/.env.example
Due: api, client, banner-data

cleanup
  .prettierrc
  init.sh
  mongodb/mongod.conf
Due: none

update docs
  README.md
Due: none

cleanup
  api/.env.example
  api/src/app.ts
  api/src/util/banner.ts
  banner-data/src/BannerData.ts
Due: api, banner-data

:bug: banner consume patches
  banner/src/controllers/HookController.ts
Due: banner

:sparkles: banner integration with API, client changes
  api/src/routes/banner/index.ts
  api/src/routes/classes/index.ts
  api/src/util/banner.ts
  banner/src/controllers/BannerController.ts
  banner/src/controllers/HookController.ts
  banner/src/index.ts
  client/package.json
  client/src/components/AddClass.tsx
  client/src/components/ClassListing.tsx
  client/src/components/StatusList.tsx
  client/src/components/StatusPanel.tsx
  client/src/components/StatusView.tsx
  client/src/models/interfaces/Class.ts
  client/src/models/interfaces/Status.ts
  client/src/pages/Classes.tsx
  client/src/styles/pages/_Classes.scss
  common/config/rush/pnpm-lock.yaml
Due: api, client, banner

:sparkles: pasts testing with instances running, need to get passing with rush
  api/package.json
  api/src/routes/models/interfaces/Class.ts
  api/src/tests/banner.test.ts
  api/src/tests/class.test.ts
Due: api

:sparkles: client tests passing
  client/src/test/StatusList.test.tsx
  client/src/test/StatusPanel.test.tsx
  client/src/test/StatusView.test.tsx
  common/config/rush/pnpm-lock.yaml
Due: client

:sparkles: api tests passing
  api/src/tests/banner.test.ts
  api/src/tests/class.test.ts
  api/src/tests/mockbanner.ts
Due: api

Create progress-report-checkpoint-4
  progress-report-checkpoint-4
Due: none

:sparkles: client rendering fix
  banner-data/src/BannerData.ts
  client/src/components/AddClass.tsx
  client/src/components/ClassListing.tsx
Due: client, banner-data

🐛 Separate the command for UNIX / Windows
  common/config/rush/command-line.json
Due: none

:sparkles: Checkpoint 4 submission
  README.md
  api/src/tests/banner.test.ts
  api/src/tests/class.test.ts
  banner-data/src/BannerData.ts
  client/src/test/ClassListing.test.tsx
  progress-report-checkpoint-4
  progress-report.md
Due: api, client, banner-data

:bug: Updated .gitattributes
  .gitattributes
Due: none

:bug: Fix windows path and cocurrently not exiting properly
  .gitattributes
  common/config/rush/command-line.json
  common/git-hooks/pre-commit
Due: none

:bug: Fix windows path and cocurrently not exiting properly (#69)
  .gitattributes
  common/config/rush/command-line.json
  common/git-hooks/pre-commit
Due: none

:sparkles: Checkpoint 4 submission (#67)
  README.md
  api/src/tests/banner.test.ts
  api/src/tests/class.test.ts
  banner-data/src/BannerData.ts
  client/src/test/ClassListing.test.tsx
  progress-report-checkpoint-4
  progress-report.md
Due: api, client, banner-data

hotfix: patch docker prod image
  .dockerignore
  Dockerfile
  banner-data/Dockerfile
  banner/Dockerfile
  client/.dockerignore
  client/Dockerfile
  docker-compose.prod.yml
  nginx.conf
Due: client, banner, banner-data

:sparkles: Started work on k8s deployment files
  README.md
  api/.env.example
  api/src/app.ts
  banner-data/.env.example
  banner-data/src/index.ts
  banner/.env.example
  banner/src/index.ts
  docker-compose.prod.yml
  docker-compose.yml
  k8s/ApiRedis.yaml
  k8s/Mongodb.yaml
  k8s/RegistrumApi.yaml
  k8s/RegistrumBanner.yaml
  k8s/RegistrumBannerData.yaml
  k8s/RegistrumClient.yaml
  k8s/kustomization.yaml
  nginx.conf
Due: api, banner, banner-data

:sparkles: Fixed sessions on k8s
  k8s/RegistrumApi.yaml
Due: none

:sparkles: Fixed sessions on k8s
  api/src/app.ts
Due: api

:ambulance: hotfix: patch redis config + CD patch
  .github/workflows/docker-cd.yml
  api/package.json
  api/src/app.ts
  banner-data/src/index.ts
  common/config/rush/pnpm-lock.yaml
Due: api, banner-data

cleanup and refine cd
  .github/workflows/docker-cd.yml
  .github/workflows/docker.yml
  README.md
  docker-compose.prod.yml
  docker-compose.yml
  postfix/Dockerfile
  postfix/main.cf
Due: none

added docker master images
  .github/workflows/docker-cd-master.yml
  .github/workflows/docker-cd-release.yml
  .github/workflows/docker.yml
Due: none

github actions patch
  .github/workflows/docker.yml
Due: none

github actions bash patch
  .github/workflows/docker-cd-master.yml
  .github/workflows/docker-cd-release.yml
  .github/workflows/docker.yml
Due: none

🐳 Add master docker images (#71)
  .github/workflows/docker-cd-master.yml
  .github/workflows/docker-cd-release.yml
  .github/workflows/docker.yml
  README.md
  docker-compose.prod.yml
  docker-compose.yml
  postfix/Dockerfile
  postfix/main.cf
Due: none

:pencil: update badges
  .github/workflows/docker-cd-master.yml
  .github/workflows/docker-cd-release.yml
  .github/workflows/docker.yml
  README.md
Due: none

mdlint
  README.md
Due: none

update docker cd
  .github/workflows/docker-cd-branch.yml
  .github/workflows/docker-cd-master.yml
  .github/workflows/docker-cd-release.yml
Due: none

🐳 Update Docker CD (#72)
  .github/workflows/docker-cd-branch.yml
  .github/workflows/docker-cd-master.yml
  .github/workflows/docker-cd-release.yml
  README.md
Due: none

:ambulance: bump rush, pnpm, pin nyc version
  api/package.json
  banner-data/package.json
  banner/package.json
  common/config/rush/pnpm-lock.yaml
  common/scripts/install-run.js
  rush.json
Due: api, banner, banner-data

:ambulance: docker cd hotfix
  .github/workflows/docker-cd-branch.yml
  .github/workflows/docker-cd-release.yml
Due: none

Path conditions:
  api: any of: api/
  client: any of: client/
  banner: any of: banner/
  banner-data: any of: banner-data/
