Repository acm-uic/registrum: changes, and which Codecov flags are due for each by the changed paths.
All: api, banner, banner-data, common

codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        flags:
          - api
      banner:
        flags:
          - banner
      banner-data:
        flags:
          - banner-data
      common:
        flags:
          - common

flags:
  api:
    paths:
      - projects/api/
  banner:
    paths:
      - projects/banner/
  banner-data:
    paths:
      - projects/banner-data/
  common:
    paths:
      - projects/common/

remove organize imports from vscode settings
  .vscode/settings.json
Due: none

remove sgmail dep
  projects/api/package.json
Due: api

remove log statements
  projects/banner-data/src/BannerData.ts
Due: banner-data

add env to webpack define
  projects/client/src/webpackDefine.d.ts
Due: none

update packages
  projects/banner/package.json
  yarn.lock
Due: banner

added return types to funcs
  projects/banner-data/src/BannerData.ts
  projects/banner-data/src/index.ts
  projects/banner/package.json
  projects/banner/src/controllers/HookController.ts
  projects/common/src/classes/Controller.ts
  yarn.lock
Due: banner, banner-data, common

fix terser plugin settings
  projects/client/webpack.config.ts
Due: none

add npm script to generate web-push keys
  package.json
Due: none

gitignore update
  .gitignore
  projects/client/.gitignore
Due: none

remove automerge workflow job
  .github/workflows/ci.yml
Due: none

update docker ci
  .github/workflows/ci.yml
Due: none

:arrow_up: upgrade deps + fix builds
  .github/dependabot.yml
  .github/workflows/ci.yml
  README.md
  package.json
  projects/api/package.json
  projects/api/src/controllers/AuthController.ts
  projects/api/src/controllers/BannerController.ts
  projects/api/src/index.ts
  projects/api/src/tests/auth.test.ts
  projects/api/src/tests/banner.test.ts
  projects/api/src/tests/class.test.ts
  projects/api/src/tests/mockbanner.ts
  projects/api/src/util/BannerClient.ts
  projects/api/src/util/notifier.ts
  projects/api/tsconfig.json
  projects/banner-data/package.json
  projects/banner-data/src/BannerData.ts
  projects/banner-data/tsconfig.json
  projects/banner/package.json
  projects/banner/src/controllers/BannerController.ts
  projects/banner/src/index.ts
  projects/banner/tsconfig.json
  projects/client/package.json
  projects/client/src/images/index.d.ts
  projects/client/webpack.config.js
  projects/common/package.json
  projects/common/src/classes/ExpressApp.ts
  projects/common/src/lib/Banner.ts
  projects/common/src/tests/Banner.test.ts
  projects/common/tsconfig.json
  yarn.lock
Due: api, banner, banner-data, common

:wrench: update tsconfig
  projects/api/tsconfig.json
  projects/banner-data/tsconfig.json
  projects/banner/tsconfig.json
  projects/common/tsconfig.json
Due: api, banner, banner-data, common

rename master to main
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  README.md
  k8s/api-deployment.yaml
  k8s/banner-data-deployment.yml
  k8s/banner-deployment.yml
Due: none

:green_heart: fix docker builds
  .github/workflows/ci.yml
  projects/common/package.json
  yarn.lock
Due: common

:pencil2: remove ci/cd, add archive note
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  README.md
Due: none
