Repository acm-uic/registrum: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, banner, banner-data

codecov.yml:

coverage:
  status:
    project:
      default: off
      client:
        flags: 
          - client
      api:
        flags: 
          - api
      banner:
        flags: 
          - banner
      banner-data:
        flags: 
          - banner-data

flags:
  api:
    paths:
      - api/
  client:
    paths:
      - client/
  banner:
    paths:
      - banner/
  banner-data:
    paths:
      - banner-data/

added pop-up for user push notification subscription
  client/config/webpack.development.config.js
  client/public/service-worker.js
  client/src/serviceWorker.ts
Due: client

Subscription on registration & customization of notification text
  client/public/service-worker.js
  client/src/utils/functions/authentication.ts
Due: client

subscribe and unsubscribe officially works
  client/src/pages/Home.tsx
  client/src/serviceWorker.ts
  client/src/utils/functions/authentication.ts
Due: client

added functionality on client and server to handle push notifications...
  api/package.json
  api/src/routes/index.ts
  api/src/routes/models/SubscriptionsModel.ts
  api/src/routes/push-service/index.ts
  client/public/manifest.json
  client/public/service-worker.js
  client/src/pages/Account.tsx
  client/src/pages/SplashPage.tsx
  client/src/serviceWorker.ts
Due: api, client

added more server side and client side logic to remove hardcoding
  client/src/components/SignIn.tsx
  client/src/index.tsx
  client/src/pages/Home.tsx
  client/src/pages/SplashPage.tsx
  client/src/serviceWorker.ts
  client/src/utils/functions/authentication.ts
Due: client

created a seperate route for subscription
  client/src/utils/functions/authentication.ts
Due: client

added comments to code for push notifications
  api/src/app.ts
  api/src/routes/auth/index.ts
  api/src/routes/index.ts
  api/src/routes/models/SubscriptionsModel.ts
  api/src/routes/models/User.ts
  api/src/routes/push-service/index.ts
  api/src/util/notifier.ts
  client/package.json
  client/public/service-worker.js
  client/src/components/SignIn.tsx
  client/src/pages/Account.tsx
  client/src/pages/Home.tsx
  client/src/pages/SplashPage.tsx
  client/src/serviceWorker.ts
  client/src/utils/functions/authentication.ts
  common/config/rush/pnpm-lock.yaml
Due: api, client

removed dead code & made request PR changes
  api/.env.example
  api/src/routes/auth/index.ts
  api/src/routes/push-service/index.ts
  api/src/util/notifier.ts
  client/.env.example
  client/package.json
  client/public/service-worker.js
  client/src/index.tsx
  client/src/serviceWorker.ts
Due: api, client

fixed lint errors & service worker condition
  client/src/index.tsx
  client/src/serviceWorker.ts
Due: client

🐛 Fix Lint Errors
  api/src/routes/auth/index.ts
  common/config/rush/pnpm-lock.yaml
Due: api

:sparkles: Trying to get communication between api and banner service working within cluster
  .gitignore
  README.md
  api/.env.example
  api/src/app.ts
  api/src/util/banner.ts
  banner-data/.env.example
  banner-data/src/index.ts
  banner/.env.example
  banner/src/index.ts
  docker-compose.prod.yml
  docker-compose.yml
  k8s/BannerRedis.yaml
  k8s/Mongodb.yaml
  k8s/RegistrumApi.yaml
  k8s/RegistrumBanner.yaml
  k8s/RegistrumBannerData.yaml
  k8s/Secrets.Example.yaml
  k8s/kustomization.yaml
  nginx.conf
Due: api, banner, banner-data

:sparkles: Fixed communication between api and banner
  banner-data/src/index.ts
  k8s/RegistrumBannerData.yaml
  k8s/Secrets.Example.yaml
  test
Due: banner-data

:sparkles: Fixed rush lint
  banner-data/src/index.ts
Due: banner-data

:pencil2: Update ReadME
  README.md
Due: none

mocha -> jest to fix borken coverage results
  banner-data/package.json
  banner-data/src/tests/BannerData.spec.ts
  banner-data/src/tests/BannerData.test.ts
  banner/package.json
  banner/src/tests/Banner.test.ts
  banner/src/tests/WebHooks.test.ts
  common/config/rush/pnpm-lock.yaml
Due: banner, banner-data

:bug:
  banner/package.json
  banner/src/tests/Banner.test.ts
Due: banner

✅ Fix codecov results (#75)
  banner-data/package.json
  banner-data/src/tests/BannerData.spec.ts
  banner-data/src/tests/BannerData.test.ts
  banner/package.json
  banner/src/tests/Banner.test.ts
  banner/src/tests/WebHooks.test.ts
  common/config/rush/pnpm-lock.yaml
Due: banner, banner-data

:sparkles: Added client test for ClassListing component
  client/src/components/ClassListing.tsx
  client/src/test/ClassListing.test.tsx
Due: client

:sparkles: Added client test for ClassListing component
  api/src/tests/class.test.ts
Due: api

Delete test
  test
Due: none

Push notifications v2 (#77)
  api/.env.example
  api/package.json
  api/src/app.ts
  api/src/routes/auth/index.ts
  api/src/routes/index.ts
  api/src/routes/models/User.ts
  api/src/routes/push-service/index.ts
  api/src/util/notifier.ts
  client/.env.example
  client/config/webpack.development.config.js
  client/package.json
  client/public/manifest.json
  client/public/service-worker.js
  client/src/components/SignIn.tsx
  client/src/index.tsx
  client/src/pages/Home.tsx
  client/src/pages/SplashPage.tsx
  client/src/serviceWorker.ts
  client/src/utils/functions/authentication.ts
  common/config/rush/pnpm-lock.yaml
Due: api, client

🚑 banner-data env hotfix
  banner-data/src/index.ts
Due: banner-data

:construction_worker: added webhooks to actions
  .github/workflows/docker-cd-branch.yml
  .github/workflows/docker-cd-release.yml
Due: none

:construction_worker: added webhooks to actions (#78)
  .github/workflows/docker-cd-branch.yml
  .github/workflows/docker-cd-release.yml
Due: none

set no-cache
  api/src/app.ts
  client/config/webpack.development.config.js
Due: api, client

:bug: :bug: :bug:
  api/src/app.ts
  api/src/routes/classes/index.ts
  api/src/routes/push-service/index.ts
  client/config/webpack.production.config.js
  nginx.conf
Due: api, client

ignore build
  client/config/webpack.development.config.js
Due: client

remove console logs
  api/src/routes/classes/index.ts
  api/src/routes/push-service/index.ts
Due: api

🐛 disable cache on api + webpack watch ignore (#79)
  api/src/app.ts
  client/config/webpack.development.config.js
Due: api, client

🐛 Fix webpack config, secure cookies (#80)
  api/src/app.ts
  api/src/routes/push-service/index.ts
  client/config/webpack.production.config.js
  nginx.conf
Due: api, client

removed logging
  client/src/components/AddClass.tsx
  client/src/components/SignUp.tsx
  client/src/models/redux/store.ts
  client/src/pages/Account.tsx
  client/src/pages/Classes.tsx
Due: client

removed logging (#81)
  client/src/components/AddClass.tsx
  client/src/components/SignUp.tsx
  client/src/models/redux/store.ts
  client/src/pages/Account.tsx
  client/src/pages/Classes.tsx
Due: client

:ambulance: hotfix - fix minor prod
  api/src/routes/banner/index.ts
  api/src/util/notifier.ts
Due: api

client polish
  Dockerfile
  client/.babelrc
  client/config/banner.js
  client/config/entry.js
  client/config/environment.js
  client/config/modules.js
  client/config/settings.js
  client/config/tsconfig.js
  client/config/webpack.development.config.js
  client/config/webpack.library.config.js
  client/config/webpack.production.config.js
  client/package.json
  client/public/favicon.ico
  client/public/images/icon-120x120.png
  client/public/images/icon-128x128.png
  client/public/images/icon-144x144.png
  client/public/images/icon-152x152.png
  client/public/images/icon-180x180.png
  client/public/images/icon-192x192.png
  client/public/images/icon-384x384.png
  client/public/images/icon-512x512.png
  client/public/images/icon-72x72.png
  client/public/images/icon-96x96.png
  client/public/index.html
  client/public/logo192.png
  client/public/logo512.png
  client/public/manifest.json
  client/public/service-worker.js
  client/scripts/refresh.js
  client/src/components/NavBar.tsx
  client/tsconfig.json
  client/webpack.config.ts
  common/config/rush/pnpm-lock.yaml
  design-assets/acm-logo.psd
Due: client

polish
  api/jest.config.js
  api/package.json
  api/src/tests/auth.test.ts
  api/src/tests/banner.test.ts
  api/src/tests/class.test.ts
  banner-data/jest.config.js
  banner-data/package.json
  banner/jest.config.js
  banner/package.json
  banner/src/lib/WebHooks.ts
  banner/src/tests/WebHooks.test.ts
  client/.babelrc
  client/babel.config.js
  client/jest.config.js
  client/package.json
  client/src/index.tsx
  client/src/serviceWorker.ts
  client/src/setupTests.ts
  client/src/test/fileTransformer.js
  client/src/test/test-setup.js
  client/tsconfig.json
  client/webpack.config.ts
  common/config/rush/pnpm-lock.yaml
Due: api, client, banner, banner-data

patch banner tests, remove request dependency (deprecated)
  banner/package.json
  banner/src/lib/WebHooks.ts
  banner/src/tests/Banner.test.ts
  banner/src/tests/WebHooks.test.ts
Due: banner

cleanup
  api/jest.config.js
  banner-data/jest.config.js
  banner/jest.config.js
  banner/src/lib/WebHooks.ts
  client/jest.config.js
  client/package.json
  client/src/components/UICLogo.tsx
  client/src/fileTransformer.js
  client/src/test/preprocessor.js
  client/src/test/test-setup.js
  client/webpack.config.ts
  common/config/rush/pnpm-lock.yaml
Due: api, client, banner, banner-data

:bug: Removed use of any type
  api/src/routes/models/User.ts
  api/src/routes/push-service/index.ts
Due: api

:boom: Breaking Changes
  client/public/service-worker.js
  client/src/serviceWorker.ts
  client/src/utils/functions/authentication.ts
  client/tsconfig.json
Due: client

:whale: optimize docker + cd
  .github/workflows/docker-cd-branch.yml
  .github/workflows/docker-cd-release.yml
  .github/workflows/docker.yml
  .github/workflows/nodejs.yml
  Base.Dockerfile
  Dockerfile
  build_images.ps1
  client/.eslintrc
Due: client
