Repository acm-uic/registrum: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
  status:
    project:
      client:
        flags: 
          - client
      api:
        flags: 
          - api

flags:
  api:
    paths:
      - api/
  client:
    paths:
      - client/

added codecov badge to readme
  README.md
Due: none

☂️ added codecov (#58)
  .github/workflows/nodejs.yml
  README.md
  api/jest.config.js
  api/package.json
  client/package.json
  codecov.yml
Due: api, client

:pencil: update codecov badge token
  README.md
Due: none

:sparkles: added banner service framework + banner class
  banner/.env.example
  banner/.eslintignore
  banner/.eslintrc
  banner/.prettierrc
  banner/jest.config.js
  banner/package-lock.json
  banner/package.json
  banner/src/controllers/BannerController.ts
  banner/src/index.ts
  banner/src/lib/Banner.ts
  banner/src/tests/Banner.test.ts
  banner/tsconfig.json
Due: none

added get class route
  banner/package.json
  banner/src/controllers/BannerController.ts
  banner/src/index.ts
  banner/src/lib/Banner.ts
Due: none

:whale: added banner dockerfile + docker-compose + github action
  .github/workflows/docker-cd.yml
  .github/workflows/nodejs.yml
  README.md
  banner/Dockerfile
  docker-compose.prod.yml
  docker-compose.yml
Due: none

:sparkles: added course operation methods
  banner/.prettierrc
  banner/src/lib/Banner.ts
  banner/src/lib/WebHooks.ts
  banner/src/tests/WebHooks.spec.ts
Due: none

added webhooks libary
  banner/.prettierrc
  banner/package-lock.json
  banner/package.json
  banner/src/index.ts
  banner/src/lib/Banner.ts
  banner/src/lib/WebHooks.ts
  banner/src/tests/Banner.spec.ts
  banner/src/tests/Banner.test.ts
  banner/src/tests/WebHooks.spec.ts
  banner/tsconfig.json
Due: none

updated statics, eslint config
  banner/src/lib/test.ts
  package-lock.json
  package.json
Due: none

using es private fields
  banner/package-lock.json
  banner/package.json
  banner/src/controllers/BannerController.ts
  banner/src/index.ts
  banner/src/lib/Banner.ts
  banner/src/lib/WebHooks.ts
  banner/src/tests/Banner.spec.ts
  banner/src/tests/WebHooks.spec.ts
  banner/tsconfig.json
Due: none

updated libs, and tests
  .vscode/settings.json
  api/src/tests/auth.test.ts
  banner/.eslintrc
  banner/jest.config.js
  banner/package-lock.json
  banner/package.json
  banner/src/controllers/BannerController.ts
  banner/src/index.ts
  banner/src/lib/Banner.ts
  banner/src/lib/WebHooks.ts
  banner/src/lib/test.ts
  banner/src/server.ts
  banner/src/services/Banner.ts
  banner/src/tests/Banner.spec.ts
  banner/src/tests/WebHooks.spec.ts
  banner/tsconfig.json
  docker-compose.yml
  scripts/compose-install-all.ps1
Due: api

:umbrella: added codecov to banner project
  .github/workflows/nodejs.yml
  codecov.yml
Due: none

:white_check_mark: update breaking test
  banner/src/tests/Banner.spec.ts
Due: none

✨💥😎 Add banner and webhooks libraries (#59)
  .github/workflows/docker-cd.yml
  .github/workflows/nodejs.yml
  .vscode/settings.json
  README.md
  api/src/tests/auth.test.ts
  banner/.env.example
  banner/.eslintignore
  banner/.eslintrc
  banner/.prettierrc
  banner/Dockerfile
  banner/package-lock.json
  banner/package.json
  banner/src/controllers/BannerController.ts
  banner/src/index.ts
  banner/src/lib/Banner.ts
  banner/src/lib/WebHooks.ts
  banner/src/server.ts
  banner/src/services/Banner.ts
  banner/src/tests/Banner.spec.ts
  banner/src/tests/WebHooks.spec.ts
  banner/tsconfig.json
  codecov.yml
  docker-compose.prod.yml
  docker-compose.yml
  package-lock.json
  package.json
  scripts/compose-install-all.ps1
Due: api

:whale: docker dev fix, :heavy-minus-sign: removed unused dependencies
  api/package-lock.json
  api/package.json
  api/src/app.ts
  banner/package-lock.json
  banner/package.json
  banner/src/app.ts
  banner/src/index.ts
  banner/src/server.ts
  client/Dockerfile
  client/package.json
  package.json
Due: api, client

:umbrella: update codecov config
  codecov.yml
Due: none

update codecov project config
  codecov.yml
Due: none

🐳 docker dev fix, ➖ removed unused dependencies (#60)
  api/package-lock.json
  api/package.json
  api/src/app.ts
  banner/package-lock.json
  banner/package.json
  banner/src/app.ts
  banner/src/index.ts
  banner/src/server.ts
  client/Dockerfile
  client/package.json
  codecov.yml
  package.json
Due: api, client

:umbrella: codecov config fix
  codecov.yml
Due: none

:sparkles: added email notifications with twilio
  .prettierrc
  api/.env.example
  api/package-lock.json
  api/package.json
  api/src/app.ts
  api/src/routes/auth/index.ts
  api/src/routes/banner/index.ts
  api/src/routes/models/User.ts
  api/src/tests/auth.test.ts
  api/src/util/banner.ts
  api/src/util/notifier.ts
  client/package.json
  client/src/models/interfaces/User.ts
  client/src/pages/Account.tsx
  docker-compose.yml
Due: api, client

ns
  api/src/routes/banner/index.ts
Due: api

n
  api/src/app.ts
  api/src/routes/auth/index.ts
  api/src/routes/banner/index.ts
  api/src/routes/models/User.ts
  api/src/routes/models/interfaces/Class.ts
  api/src/routes/models/interfaces/Status.ts
  api/src/server.ts
  api/src/tests/auth.test.ts
  api/src/tests/banner.test.ts
  api/src/tests/class.test.ts
  api/src/util/banner.ts
  api/src/util/logger.ts
  api/src/util/notifier.ts
  client/src/models/interfaces/Class.ts
  client/src/models/interfaces/Message.ts
  client/src/models/interfaces/Status.ts
  client/src/models/interfaces/User.ts
  client/src/models/redux/actions/action.ts
  client/src/models/redux/actions/auth.ts
  client/src/models/redux/reducers/auth.ts
  client/src/models/redux/reducers/reducer.ts
  client/src/models/redux/store.ts
  client/src/serviceWorker.ts
  client/src/utils/functions/authentication.ts
Due: api, client

:art: semicolons
  .prettierrc
  client/src/models/interfaces/Class.ts
  client/src/models/interfaces/Message.ts
  client/src/models/interfaces/Status.ts
  client/src/models/interfaces/User.ts
  client/src/models/redux/actions/action.ts
  client/src/models/redux/actions/auth.ts
  client/src/models/redux/reducers/auth.ts
  client/src/models/redux/reducers/reducer.ts
  client/src/models/redux/store.ts
  client/src/serviceWorker.ts
  client/src/setupTests.ts
  client/src/utils/functions/authentication.ts
  client/src/utils/globals.ts
Due: client

prettier + eslint
  .prettierrc
  api/.eslintrc
  api/package-lock.json
  api/package.json
  api/src/app.ts
  api/src/routes/auth/index.ts
  api/src/routes/auth/passport.ts
  api/src/routes/banner/index.ts
  api/src/routes/classes/index.ts
  api/src/routes/models/User.ts
  api/src/routes/models/interfaces/Class.ts
  api/src/routes/models/interfaces/Status.ts
  api/src/server.ts
  api/src/tests/auth.test.ts
  api/src/tests/banner.test.ts
  api/src/tests/class.test.ts
  api/src/util/banner.ts
  api/src/util/logger.ts
  api/src/util/notifier.ts
  banner/.eslintrc
  banner/package-lock.json
  banner/package.json
  client/.eslintrc
  client/package-lock.json
  client/package.json
  package.json
Due: api, client

cleanup npm scripts
  api/package-lock.json
  api/package.json
  banner-data/package-lock.json
  banner-data/package.json
  banner/package-lock.json
  banner/package.json
Due: api

:sparkes: implemented banner-mongo sync utility
  banner-data/.env.example
  banner-data/package-lock.json
  banner-data/package.json
  banner-data/src/BannerData.ts
  banner-data/src/index.ts
  banner-data/src/lib/Banner.ts
Due: none

only searching CS (for now)
  banner-data/src/BannerData.ts
Due: none

add webhook controleler, update banner-data updates
  README.md
  banner-data/src/BannerData.ts
  banner-data/src/Models.ts
  banner-data/src/Schemas.ts
  banner-data/src/lib/Banner.ts
  banner/package-lock.json
  banner/src/Schemas.ts
  banner/src/app.ts
  banner/src/controllers/BannerController.ts
  banner/src/controllers/HookController.ts
  banner/src/index.ts
  banner/src/interfaces/Controller.ts
  banner/src/lib/Banner.ts
  banner/src/lib/WebHooks.ts
  shared/package.json
Due: none

added banner-data project
  .github/workflows/docker-cd.yml
  .github/workflows/docker.yml
  .github/workflows/nodejs.yml
  .vscode/settings.json
  banner-data/.eslintignore
  banner-data/.eslintrc
  banner-data/Dockerfile
  banner-data/package-lock.json
  banner-data/package.json
  banner-data/src/index.ts
  banner-data/tsconfig.json
  banner/.env.example
  banner/.prettierrc
  banner/package.json
  banner/src/services/Banner.ts
  codecov.yml
  docker-compose.prod.yml
  docker-compose.yml
  package.json
  scripts/compose-install-all.ps1
Due: none

moved types to lib
  banner-data/src/BannerData.ts
  banner-data/src/lib/Banner.ts
Due: none

fix builds
  api/package.json
  banner-data/src/BannerData.ts
  banner-data/src/index.ts
  banner-data/src/tests/BannerData.spec.ts
Due: api

update docs
  .gitignore
  README.md
Due: none

ci cache update
  .github/workflows/nodejs.yml
Due: none

update docs
  README.md
Due: none

remove lerna badge
  README.md
Due: none

removed duped libs
  banner-data/package.json
  banner-data/src/BannerData.ts
  banner-data/src/lib/Banner.ts
  banner/src/Schemas.ts
  banner/src/controllers/HookController.ts
  banner/src/interfaces/Models.ts
  banner/src/interfaces/Schemas.ts
  banner/src/lib/Banner.ts
Due: none

update ci pnpm store cache
  .github/workflows/docker-cd.yml
  .github/workflows/nodejs.yml
Due: none

fix ci
  .github/workflows/nodejs.yml
Due: none
