Repository acm-uic/registrum: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, banner, banner-data

docker optimize
  .dockerignore
  Dockerfile
  api/Dockerfile
  build_images.ps1
Due: api

update logo
  client/public/images/icon-120x120.png
  client/public/images/icon-128x128.png
  client/public/images/icon-144x144.png
  client/public/images/icon-152x152.png
  client/public/images/icon-180x180.png
  client/public/images/icon-192x192.png
  client/public/images/icon-384x384.png
  client/public/images/icon-512x512.png
  client/public/images/icon-72x72.png
  client/public/images/icon-96x96.png
  design-assets/acm-logo.psd
  design-assets/logo.psd
Due: client

:bug: :bug: :bug: Fix
  api/src/routes/models/User.ts
  api/src/routes/push-service/index.ts
  client/src/components/NavBar.tsx
  client/src/index.tsx
  client/src/pages/SplashPage.tsx
  client/src/serviceWorker.ts
  client/src/utils/functions/authentication.ts
Due: api, client

:sparkles: Cleared up webpack config
  client/package.json
  client/webpack.config.ts
Due: client

:bug: Fix Testing
  client/jest.config.js
  client/package.json
  client/tsconfig.json
  common/config/rush/pnpm-lock.yaml
Due: client

:bug: Fix codecov.yml
  codecov.yml
Due: none

patch pwsh github actions script
  .github/workflows/docker-cd-branch.yml
  .github/workflows/docker-cd-release.yml
Due: none

:rotating_light: Remove Explicit any and unecessary declarations
  client/src/fileTransformer.js
  client/src/models/interfaces/Message.ts
Due: client

fix github actions cd pwsh script
  .github/workflows/docker-cd-branch.yml
  .github/workflows/docker-cd-release.yml
Due: none

cd-branch fix
  .github/workflows/docker-cd-branch.yml
  .github/workflows/docker-cd-release.yml
Due: none

:sparkles: Push Notification On User Request
  client/src/serviceWorker.ts
  client/src/utils/functions/authentication.ts
Due: client

:bug: Remove null from populating array
  api/src/routes/push-service/index.ts
  client/src/pages/Account.tsx
  client/src/serviceWorker.ts
  client/src/utils/functions/authentication.ts
Due: api, client

:truck: Reorder
  api/src/app.ts
Due: api

:sparkles: :fire: Chakra + Remove Email Log Statements
  api/src/util/notifier.ts
  client/package.json
  common/config/rush/pnpm-lock.yaml
Due: api, client

:rotating_lights: Lint Errors
  client/src/utils/functions/authentication.ts
Due: client

:fire: Remove Client Codecov
  codecov.yml
Due: none

updated design assets + fix pwsh actions script
  .github/workflows/docker-cd-branch.yml
  .github/workflows/docker-cd-release.yml
  design-assets/assets.psd
  design-assets/logo-assets/github_social_preview.png
  design-assets/logo-assets/icon-120x120.png
  design-assets/logo-assets/icon-128x128.png
  design-assets/logo-assets/icon-144x144.png
  design-assets/logo-assets/icon-152x152.png
  design-assets/logo-assets/icon-180x180.png
  design-assets/logo-assets/icon-192x192.png
  design-assets/logo-assets/icon-384x384.png
  design-assets/logo-assets/icon-512x512.png
  design-assets/logo-assets/icon-72x72.png
  design-assets/logo-assets/icon-96x96.png
  design-assets/logo.psd
Due: none

fix webhook request. docker-cd-branch
  .github/workflows/docker-cd-branch.yml
Due: none

🧹 Clean up app.ts + ✨ Added Helmet
  api/package.json
  api/src/app.ts
  common/config/rush/pnpm-lock.yaml
Due: api

⬆ Upgrading pnpm version
  rush.json
Due: none

:fire: Remove commmit package pushes
  .github/workflows/docker-cd-branch.yml
Due: none

switch to acr for docker packages
  .github/workflows/docker-cd-branch.yml
  .github/workflows/docker-cd-release.yml
Due: none

first pass of rebranding, fix acr endpoint
  .github/workflows/docker-cd-branch.yml
  README.md
  docker-compose.prod.yml
Due: none

clean files refering to 494 project
  README.md
  progress-report.md
Due: none

md cleanup (#84)
  README.md
  progress-report.md
Due: none

:ambulance: fix docker-release-cd
  .github/workflows/docker-cd-release.yml
Due: none

🐛🐛 Added try / catch
  api/package.json
  api/src/util/notifier.ts
  common/config/rush/pnpm-lock.yaml
Due: api

remove redis deps, port redis to mongo, add version info during build
  .github/workflows/docker-cd-branch.yml
  .github/workflows/docker-cd-release.yml
  .github/workflows/nodejs.yml
  README.md
  api/package.json
  api/src/app.ts
  api/src/tests/auth.test.ts
  api/src/tests/banner.test.ts
  api/src/tests/class.test.ts
  banner-data/.env.example
  banner-data/package.json
  banner-data/src/BannerData.ts
  banner-data/src/index.ts
  banner/.env.example
  banner/package.json
  banner/src/controllers/HookController.ts
  banner/src/index.ts
  banner/src/lib/WebHooks.ts
  banner/src/tests/WebHooks.test.ts
  client/package.json
  client/src/version.json
  common/config/rush/pnpm-lock.yaml
  docker-compose.yml
  k8s/ApiRedis.yaml
  k8s/BannerRedis.yaml
  k8s/RegistrumApi.yaml
  k8s/RegistrumBanner.yaml
  k8s/Secrets.Example.yaml
  k8s/kustomization.yaml
Due: api, client, banner, banner-data

➖💥🔥🚧 remove redis deps, port redis to mongo, add version info during build (#85)
  .github/workflows/docker-cd-branch.yml
  .github/workflows/docker-cd-release.yml
  .github/workflows/nodejs.yml
  README.md
  api/package.json
  api/src/app.ts
  api/src/tests/auth.test.ts
  api/src/tests/banner.test.ts
  api/src/tests/class.test.ts
  banner-data/.env.example
  banner-data/package.json
  banner-data/src/BannerData.ts
  banner-data/src/index.ts
  banner/.env.example
  banner/package.json
  banner/src/controllers/HookController.ts
  banner/src/index.ts
  banner/src/lib/WebHooks.ts
  banner/src/tests/WebHooks.test.ts
  client/package.json
  client/src/version.json
  common/config/rush/pnpm-lock.yaml
  docker-compose.yml
  k8s/ApiRedis.yaml
  k8s/BannerRedis.yaml
  k8s/RegistrumApi.yaml
  k8s/RegistrumBanner.yaml
  k8s/Secrets.Example.yaml
  k8s/kustomization.yaml
Due: api, client, banner, banner-data

🐛🐛 Added try / catch (#86)
  api/package.json
  api/src/util/notifier.ts
  common/config/rush/pnpm-lock.yaml
Due: api

implemented smarter banner sync
  api/src/app.ts
  api/src/util/notifier.ts
  banner-data/.env.example
  banner-data/src/BannerData.ts
  banner-data/src/index.ts
  banner/.env.example
  banner/src/controllers/HookController.ts
  banner/src/index.ts
  banner/src/interfaces/Schemas.ts
  banner/src/lib/Banner.ts
  banner/src/lib/WebHooks.ts
  banner/src/tests/Banner.test.ts
  banner/src/tests/WebHooks.test.ts
  client/webpack.config.ts
  common/config/rush/command-line.json
Due: api, client, banner, banner-data

patch client add class to filter properly
  api/src/routes/classes/index.ts
  api/src/tests/banner.test.ts
  api/src/tests/class.test.ts
  banner/src/controllers/BannerController.ts
  banner/src/index.ts
  client/src/components/AddClass.tsx
Due: api, client, banner

✨ Smarter Banner Sync (#87)
  api/src/app.ts
  api/src/routes/classes/index.ts
  api/src/tests/banner.test.ts
  api/src/tests/class.test.ts
  api/src/util/notifier.ts
  banner-data/.env.example
  banner-data/src/BannerData.ts
  banner-data/src/index.ts
  banner/.env.example
  banner/src/controllers/BannerController.ts
  banner/src/controllers/HookController.ts
  banner/src/index.ts
  banner/src/interfaces/Schemas.ts
  banner/src/lib/Banner.ts
  banner/src/lib/WebHooks.ts
  banner/src/tests/Banner.test.ts
  banner/src/tests/WebHooks.test.ts
  client/src/components/AddClass.tsx
  client/webpack.config.ts
  common/config/rush/command-line.json
Due: api, client, banner, banner-data

🚨🚨🐛🐛✨✨ Rework Redux / Removed all explicit any
  client/src/App.tsx
  client/src/components/AddClass.tsx
  client/src/components/ClassListing.tsx
  client/src/components/NavBar.tsx
  client/src/components/StatusList.tsx
  client/src/components/StatusPanel.tsx
  client/src/components/StatusView.tsx
  client/src/index.tsx
  client/src/models/interfaces/Class.ts
  client/src/models/interfaces/User.ts
  client/src/models/redux/actions/action.ts
  client/src/models/redux/actions/auth.ts
  client/src/models/redux/reducers/auth.ts
  client/src/models/redux/reducers/reducer.ts
  client/src/models/redux/store.ts
  client/src/models/store/auth/actions.ts
  client/src/models/store/auth/reducer.ts
  client/src/models/store/auth/thunk.ts
  client/src/models/store/auth/types.ts
  client/src/models/store/index.ts
  client/src/pages/Account.tsx
  client/src/test/ClassListing.test.tsx
  client/src/test/NavBar.test.tsx
  client/src/test/StatusList.test.tsx
  client/src/test/StatusPanel.test.tsx
  client/src/test/StatusView.test.tsx
  client/src/utils/functions/authentication.ts
Due: client

🚨Fix event any
  client/src/components/NavBar.tsx
Due: client

🔥Removed extra dependencies
  client/src/components/NavBar.tsx
  client/src/models/store/auth/thunk.ts
Due: client

🐛 Fix incorrect aliasing
  client/tsconfig.json
  client/webpack.config.ts
Due: client

👤👤 UserAuth Thunks
  client/src/models/interfaces/User.ts
  client/src/models/store/auth/thunk.ts
  client/src/models/store/auth/types.ts
  client/src/utils/globals.ts
Due: client

🐛 Fix Jest Aliasing
  client/jest.config.js
Due: client

Path conditions:
  api: any of: api/
  client: any of: client/
  banner: any of: banner/
  banner-data: any of: banner-data/
